---
title: Policy Areas
layout: page
---
This is a test page for a new policy layout

{% capture tag_string %}
  {% for policy in site.policies %}
    {{policy.tags | join:" "}}
  {% endfor %}
{% endcapture %}

{% assign tags = tag_string | split:" " | sort | uniq %}

{% for policy_tag in tags %}
  <h2>{{ policy_tag | capitalize }}</h2>
  <ul>
    {% for policy in site.policies %}
      {% if policy.tags contains policy_tag %}
        <li><a href='{{ policy.url }}'>{{ policy.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

<a href='https://github.com/openpolitics/manifesto/new/gh-pages/_policies?filename=new_policy.md&value=---%0Atitle: write your policy title here and change the filename above to match%0Atags:[{{tags|join","}}] (delete as applicable)%0A---%0AWrite your policy here'>New Policy</a>